In [1]:
import pandas as pd 
import numpy as np 
import geopandas as gpd 
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import censusdata
warnings.simplefilter(action="ignore", category=FutureWarning)
%matplotlib inline

In [2]:
df = pd.read_csv('/Users/ananyarajesh/Desktop/MLC_Data/poverty.csv')

In [3]:
df

            geoid  Total Population  Below Poverty Line
0     36005000100                 0                   0
1     36005000200              4453                1014
2     36005000400              6000                 240
3     36005001600              5826                 951
4     36005001901              2164                 596
...           ...               ...                 ...
2322  36085030302              6638                1235
2323  36085031901              3386                1229
2324  36085031902              5275                1235
2325  36085032300              1105                  78
2326  36085990100                 0                   0

[2327 rows x 3 columns]

In [4]:
geo = gpd.read_file('/Users/ananyarajesh/Downloads/nyct2020_23a/nyct2020.shp')

In [5]:
geo

,CTLabel,BoroCode,BoroName,CT2020,BoroCT2020,CDEligibil,NTAName,NTA2020,CDTA2020,CDTANAME,GEOID,Shape_Leng,Shape_Area,geometry
0,1,1,Manhattan,000100,1000100,None,The Battery-Governors Island-Ellis Island-Libe...,MN0191,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),36061000100,11023.048501,1.844421e+06,"MULTIPOLYGON (((972081.788 190733.467, 972184...."
1,2.01,1,Manhattan,000201,1000201,None,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000201,4754.495247,9.723121e+05,"POLYGON ((988548.218 197770.375, 987978.808 19..."
2,6,1,Manhattan,000600,1000600,None,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000600,6976.286456,2.582705e+06,"POLYGON ((986961.185 199553.643, 987206.139 19..."
3,14.01,1,Manhattan,001401,1001401,None,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001401,5075.332000,1.006117e+06,"POLYGON ((987475.016 200297.218, 987705.443 20..."
4,14.02,1,Manhattan,001402,1001402,None,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001402,4459.156019,1.226206e+06,"POLYGON ((988387.669 201258.312, 988621.002 20..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2320,77,5,Staten Island,007700,5007700,None,St. George-New Brighton,SI0101,SI01,SI01 North Shore (CD 1 Equivalent),36085007700,7325.091410,2.674908e+06,"POLYGON ((960079.550 172579.473, 960047.713 17..."
2321,19.02,4,Queens,001902,4001902,None,Long Island City-Hunters Point,QN0201,QN02,QN02 Long Island City-Sunnyside-Woodside (CD 2...,36081001902,5659.156615,1.909110e+06,"POLYGON ((1001743.809 211953.007, 1001806.690 ..."
2322,171.01,4,Queens,017101,4017101,None,Sunnyside Yards (South),QN0261,QN02,QN02 Long Island City-Sunnyside-Woodside (CD 2...,36081017101,22732.905385,8.783519e+06,"POLYGON ((1009266.586 212445.412, 1008736.256 ..."
2323,475,4,Queens,047500,4047500,None,Elmhurst,QN0401,QN04,QN04 Elmhurst-Corona (CD 4 Approximation),36081047500,8890.142310,3.028836e+06,"POLYGON ((1018955.769 206946.191, 1019047.521 ..."
2324,687,4,Queens,068700,4068700,None,Rego Park,QN0601,QN06,QN06 Forest Hills-Rego Park (CD 6 Approximation),36081068700,8338.971957,2.999985e+06,"POLYGON ((1021809.815 205661.173, 1021790.813 ..."

In [7]:
geo = geo.rename(columns={'GEOID': 'geoid'})

In [11]:
geo['geoid'] = pd.to_numeric(geo['geoid'])

In [26]:
ct = pd.merge(df, geo, on='geoid')

In [13]:
ct

,geoid,Total Population,Below Poverty Line,CTLabel,BoroCode,BoroName,CT2020,BoroCT2020,CDEligibil,NTAName,NTA2020,CDTA2020,CDTANAME,Shape_Leng,Shape_Area,geometry
0,36005000100,0,0,1,2,Bronx,000100,2000100,None,Rikers Island,QN0151,QN01,QN01 Astoria-Queensbridge (CD 1 Equivalent),18897.487749,1.816373e+07,"POLYGON ((1019454.697 225654.329, 1019451.101 ..."
1,36005000200,4453,1014,2,2,Bronx,000200,2000200,None,Soundview-Clason Point,BX0902,BX09,BX09 Soundview-Parkchester (CD 9 Approximation),15251.735414,4.877013e+06,"POLYGON ((1023972.528 232680.658, 1023970.431 ..."
2,36005000400,6000,240,4,2,Bronx,000400,2000400,None,Soundview-Clason Point,BX0902,BX09,BX09 Soundview-Parkchester (CD 9 Approximation),24785.525725,8.557953e+06,"POLYGON ((1026849.274 235548.774, 1026749.976 ..."
3,36005001600,5826,951,16,2,Bronx,001600,2001600,None,Soundview-Clason Point,BX0902,BX09,BX09 Soundview-Parkchester (CD 9 Approximation),9671.306267,5.221330e+06,"POLYGON ((1024344.112 238946.021, 1024391.333 ..."
4,36005001901,2164,596,19.01,2,Bronx,001901,2001901,None,Mott Haven-Port Morris,BX0101,BX01,BX01 Melrose-Mott Haven-Port Morris (CD 1 Appr...,6151.012561,2.232574e+06,"POLYGON ((1005211.998 233365.999, 1005209.921 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2320,36085030302,6638,1235,303.02,5,Staten Island,030302,5030302,None,Mariner's Harbor-Arlington-Graniteville,SI0107,SI01,SI01 North Shore (CD 1 Equivalent),13923.141306,9.788181e+06,"POLYGON ((939696.662 167578.833, 939768.394 16..."
2321,36085031901,3386,1229,319.01,5,Staten Island,031901,5031901,None,Mariner's Harbor-Arlington-Graniteville,SI0107,SI01,SI01 North Shore (CD 1 Equivalent),8255.026915,4.126596e+06,"POLYGON ((939696.662 167578.833, 939508.024 16..."
2322,36085031902,5275,1235,319.02,5,Staten Island,031902,5031902,None,Mariner's Harbor-Arlington-Graniteville,SI0107,SI01,SI01 North Shore (CD 1 Equivalent),18067.518620,7.019455e+06,"POLYGON ((939781.707 171881.178, 939801.481 17..."
2323,36085032300,1105,78,323,5,Staten Island,032300,5032300,None,Mariner's Harbor-Arlington-Graniteville,SI0107,SI01,SI01 North Shore (CD 1 Equivalent),38242.908802,4.162539e+07,"POLYGON ((936740.120 173125.853, 936712.951 17..."
2324,36085990100,0,0,9901,5,Staten Island,990100,5990100,None,Hoffman & Swinburne Islands,SI9591,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,4743.128127,6.357020e+05,"MULTIPOLYGON (((970217.022 145643.332, 970227...."

In [14]:
gdf = gpd.read_file('/Users/ananyarajesh/Downloads/nynta2020_23a/nynta2020.shp')

In [16]:
gdf

,BoroCode,BoroName,CountyFIPS,NTA2020,NTAName,NTAAbbrev,NTAType,CDTA2020,CDTAName,Shape_Leng,Shape_Area,geometry
0,3,Brooklyn,047,BK0101,Greenpoint,Grnpt,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),28914.172236,3.532185e+07,"POLYGON ((1003059.997 204572.025, 1002991.367 ..."
1,3,Brooklyn,047,BK0102,Williamsburg,Wllmsbrg,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),28158.316197,2.886214e+07,"POLYGON ((994849.011 203499.267, 994911.093 20..."
2,3,Brooklyn,047,BK0103,South Williamsburg,SWllmsbrg,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),18250.280262,1.520896e+07,"POLYGON ((998047.210 196303.325, 998157.901 19..."
3,3,Brooklyn,047,BK0104,East Williamsburg,EWllmsbrg,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),43184.772815,5.226621e+07,"POLYGON ((1005302.497 199455.730, 1005307.792 ..."
4,3,Brooklyn,047,BK0201,Brooklyn Heights,BkHts,0,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,14312.504911,9.982322e+06,"POLYGON ((986367.735 190549.239, 985813.835 19..."
...,...,...,...,...,...,...,...,...,...,...,...,...
257,5,Staten Island,085,SI0391,Freshkills Park (South),FrshklPK_S,9,SI03,SI03 South Shore (CD 3 Approximation),33945.420291,4.775877e+07,"POLYGON ((928531.433 150471.714, 929005.649 15..."
258,5,Staten Island,085,SI9561,Fort Wadsworth,FtWdswrth,6,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,14816.104455,9.864874e+06,"POLYGON ((967656.829 155637.132, 967549.629 15..."
259,5,Staten Island,085,SI9591,Hoffman & Swinburne Islands,HffmnIsl,9,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,4743.128127,6.357020e+05,"MULTIPOLYGON (((970217.022 145643.332, 970227...."
260,5,Staten Island,085,SI9592,Miller Field,MllrFld,9,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,19197.200973,1.086680e+07,"POLYGON ((960721.609 147492.642, 960370.525 14..."
261,5,Staten Island,085,SI9593,Great Kills Park,GrtKlsPk,9,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,41465.430028,2.337791e+07,"POLYGON ((952739.319 138974.819, 952732.507 13..."

In [28]:
ct = gpd.GeoDataFrame(ct, geometry='geometry')

In [31]:
nta = pd.merge(gdf, ct, on='NTA2020')

In [32]:
nta

,BoroCode_x,BoroName_x,CountyFIPS,NTA2020,NTAName_x,NTAAbbrev,NTAType,CDTA2020_x,CDTAName,Shape_Leng_x,...,BoroName_y,CT2020,BoroCT2020,CDEligibil,NTAName_y,CDTA2020_y,CDTANAME,Shape_Leng_y,Shape_Area_y,geometry_y
0,3,Brooklyn,047,BK0101,Greenpoint,Grnpt,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),28914.172236,...,Brooklyn,049900,3049900,None,Greenpoint,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),5028.191547,1.530257e+06,"POLYGON ((999660.645 201684.423, 999328.654 20..."
1,3,Brooklyn,047,BK0101,Greenpoint,Grnpt,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),28914.172236,...,Brooklyn,056100,3056100,None,Greenpoint,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),8469.791521,3.577848e+06,"POLYGON ((997439.530 204662.439, 997603.497 20..."
2,3,Brooklyn,047,BK0101,Greenpoint,Grnpt,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),28914.172236,...,Brooklyn,056301,3056301,None,Greenpoint,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),5884.689975,1.932229e+06,"POLYGON ((996668.105 207376.223, 996700.546 20..."
3,3,Brooklyn,047,BK0101,Greenpoint,Grnpt,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),28914.172236,...,Brooklyn,056302,3056302,None,Greenpoint,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),8188.399063,2.051227e+06,"POLYGON ((996635.808 207634.634, 995746.614 20..."
4,3,Brooklyn,047,BK0101,Greenpoint,Grnpt,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),28914.172236,...,Brooklyn,056500,3056500,None,Greenpoint,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),6717.438962,2.557314e+06,"POLYGON ((997094.052 204809.643, 996830.142 20..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2320,5,Staten Island,085,SI0391,Freshkills Park (South),FrshklPK_S,9,SI03,SI03 South Shore (CD 3 Approximation),33945.420291,...,Staten Island,022801,5022801,None,Freshkills Park (South),SI03,SI03 South Shore (CD 3 Approximation),33945.420078,4.775877e+07,"POLYGON ((928531.433 150471.714, 929005.649 15..."
2321,5,Staten Island,085,SI9561,Fort Wadsworth,FtWdswrth,6,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,14816.104455,...,Staten Island,001800,5001800,None,Fort Wadsworth,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,14816.104392,9.864873e+06,"POLYGON ((967656.829 155637.131, 967549.629 15..."
2322,5,Staten Island,085,SI9591,Hoffman & Swinburne Islands,HffmnIsl,9,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,4743.128127,...,Staten Island,990100,5990100,None,Hoffman & Swinburne Islands,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,4743.128127,6.357020e+05,"MULTIPOLYGON (((970217.022 145643.332, 970227...."
2323,5,Staten Island,085,SI9592,Miller Field,MllrFld,9,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,19197.200973,...,Staten Island,011204,5011204,None,Miller Field,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,19197.201083,1.086680e+07,"POLYGON ((959886.903 148070.543, 959897.848 14..."
2324,5,Staten Island,085,SI9593,Great Kills Park,GrtKlsPk,9,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,41465.430028,...,Staten Island,015400,5015400,None,Great Kills Park,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,41465.430387,2.337791e+07,"POLYGON ((952739.319 138974.819, 952732.507 13..."

In [33]:
nta.columns

Index(['BoroCode_x', 'BoroName_x', 'CountyFIPS', 'NTA2020', 'NTAName_x',
       'NTAAbbrev', 'NTAType', 'CDTA2020_x', 'CDTAName', 'Shape_Leng_x',
       'Shape_Area_x', 'geometry_x', 'geoid', 'Total Population',
       'Below Poverty Line', 'CTLabel', 'BoroCode_y', 'BoroName_y', 'CT2020',
       'BoroCT2020', 'CDEligibil', 'NTAName_y', 'CDTA2020_y', 'CDTANAME',
       'Shape_Leng_y', 'Shape_Area_y', 'geometry_y'],
      dtype='object')

In [34]:
nta = nta.drop(['BoroCode_x', 'BoroName_x', 'CountyFIPS', 'NTA2020',
       'NTAAbbrev', 'NTAType', 'CDTA2020_x', 'CDTAName', 'Shape_Leng_x',
       'Shape_Area_x', 'geometry_x', 'CTLabel', 'BoroCode_y', 'BoroName_y', 'CT2020',
       'BoroCT2020', 'CDEligibil', 'NTAName_y', 'CDTA2020_y', 'CDTANAME',
       'Shape_Leng_y', 'Shape_Area_y', 'geometry_y'], axis=1)

In [43]:
merge = nta.groupby('NTAName_x')['Total Population', 'Below Poverty Line'].sum().reset_index()

In [44]:
merge

,NTAName_x,Total Population,Below Poverty Line
0,Allerton,36057,8871
1,Alley Pond Park,42,3
2,Annadale-Huguenot-Prince's Bay-Woodrow,44139,2633
3,Arden Heights-Rossville,31583,1372
4,Astoria (Central),47297,5069
...,...,...,...
257,Windsor Terrace-South Slope,26973,2126
258,Woodhaven,41906,4136
259,Woodlawn Cemetery,0,0
260,Woodside,48421,3523
261,Yankee Stadium-Macombs Dam Park,0,0

In [45]:
merge["Below Poverty Line %"] = merge["Below Poverty Line"] / merge["Total Population"] * 100

In [46]:
merge

,NTAName_x,Total Population,Below Poverty Line,Below Poverty Line %
0,Allerton,36057,8871,24.602712
1,Alley Pond Park,42,3,7.142857
2,Annadale-Huguenot-Prince's Bay-Woodrow,44139,2633,5.965246
3,Arden Heights-Rossville,31583,1372,4.344109
4,Astoria (Central),47297,5069,10.717382
...,...,...,...,...
257,Windsor Terrace-South Slope,26973,2126,7.881956
258,Woodhaven,41906,4136,9.869708
259,Woodlawn Cemetery,0,0,NaN
260,Woodside,48421,3523,7.275769
261,Yankee Stadium-Macombs Dam Park,0,0,NaN

In [49]:
merge.dropna()

,NTAName_x,Total Population,Below Poverty Line,Below Poverty Line %
0,Allerton,36057,8871,24.602712
1,Alley Pond Park,42,3,7.142857
2,Annadale-Huguenot-Prince's Bay-Woodrow,44139,2633,5.965246
3,Arden Heights-Rossville,31583,1372,4.344109
4,Astoria (Central),47297,5069,10.717382
...,...,...,...,...
255,Williamsbridge-Olinville,61710,12984,21.040350
256,Williamsburg,63211,9962,15.759915
257,Windsor Terrace-South Slope,26973,2126,7.881956
258,Woodhaven,41906,4136,9.869708
260,Woodside,48421,3523,7.275769

In [54]:
merge = merge.drop(['Below Poverty Line'], axis=1)

In [56]:
merge = merge.dropna()

In [57]:
merge

,NTAName_x,Total Population,Below Poverty Line %
0,Allerton,36057,24.602712
1,Alley Pond Park,42,7.142857
2,Annadale-Huguenot-Prince's Bay-Woodrow,44139,5.965246
3,Arden Heights-Rossville,31583,4.344109
4,Astoria (Central),47297,10.717382
...,...,...,...
255,Williamsbridge-Olinville,61710,21.040350
256,Williamsburg,63211,15.759915
257,Windsor Terrace-South Slope,26973,7.881956
258,Woodhaven,41906,9.869708
260,Woodside,48421,7.275769

In [58]:
df = pd.read_csv('/Users/ananyarajesh/Desktop/MLC_Data/educatt.csv')

In [59]:
df

,geoid,Total Population,Less than 9th grade,"9th to 12th grade, no diploma",High school diploma,Some college,Associate degree,Bachelor degree,Graduate degree,"High school graduate, or higher","Bachelor degree, or higher"
0,36081036100,2238,546,57,59,94,56,206,44,12,5
1,36081036300,1771,469,18,14,105,87,91,45,22,0
2,36081037100,1335,248,10,34,124,75,172,38,7,0
3,36081037700,3620,790,21,40,175,105,96,14,7,0
4,36081037900,6851,1638,75,78,313,111,173,96,22,21
...,...,...,...,...,...,...,...,...,...,...,...
2162,36047060600,2811,557,9,9,122,156,656,346,61,25
2163,36047067400,1920,271,82,43,162,130,299,144,20,0
2164,36047068600,1718,380,27,66,166,131,219,121,41,0
2165,36047032100,5488,707,142,128,707,179,1102,551,67,54
2166,36061000900,1796,36,6,12,48,46,704,418,145,38

In [60]:
cen = pd.merge(geo, df, on='geoid')

In [62]:
cen.columns

Index(['CTLabel', 'BoroCode', 'BoroName', 'CT2020', 'BoroCT2020', 'CDEligibil',
       'NTAName', 'NTA2020', 'CDTA2020', 'CDTANAME', 'geoid', 'Shape_Leng',
       'Shape_Area', 'geometry', 'Total Population', 'Less than 9th grade',
       '9th to 12th grade, no diploma', 'High school diploma', 'Some college',
       'Associate degree', 'Bachelor degree', 'Graduate degree',
       'High school graduate, or higher', 'Bachelor degree, or higher'],
      dtype='object')

In [63]:
cen = cen.drop(['CTLabel', 'BoroCode', 'BoroName', 'CT2020', 'BoroCT2020', 'CDEligibil',
        'CDTA2020', 'CDTANAME', 'geoid', 'Shape_Leng',
       'Shape_Area', 'geometry'], axis=1)

In [64]:
cen

,NTAName,NTA2020,Total Population,Less than 9th grade,"9th to 12th grade, no diploma",High school diploma,Some college,Associate degree,Bachelor degree,Graduate degree,"High school graduate, or higher","Bachelor degree, or higher"
0,The Battery-Governors Island-Ellis Island-Libe...,MN0191,0,0,0,0,0,0,0,0,0,0
1,Chinatown-Two Bridges,MN0301,2750,357,108,14,97,102,251,54,0,5
2,Chinatown-Two Bridges,MN0301,9838,1182,315,213,617,259,1012,209,131,56
3,Lower East Side,MN0302,3024,267,24,41,210,85,825,597,144,172
4,Lower East Side,MN0302,2941,561,62,38,113,57,699,166,56,34
...,...,...,...,...,...,...,...,...,...,...,...,...
2029,Melrose,BX0102,4297,579,100,38,374,163,89,75,0,0
2030,West New Brighton-Silver Lake-Grymes Hill,SI0104,4299,669,45,354,276,121,355,288,113,12
2031,St. George-New Brighton,SI0101,1526,182,91,43,136,54,123,69,4,0
2032,Elmhurst,QN0401,4301,864,69,51,232,300,825,238,50,16
2033,Rego Park,QN0601,4188,752,92,134,341,270,1095,321,44,22

In [65]:
nei = pd.merge(cen, gdf, on='NTA2020')

In [66]:
nei

,NTAName_x,NTA2020,Total Population,Less than 9th grade,"9th to 12th grade, no diploma",High school diploma,Some college,Associate degree,Bachelor degree,Graduate degree,...,BoroName,CountyFIPS,NTAName_y,NTAAbbrev,NTAType,CDTA2020,CDTAName,Shape_Leng,Shape_Area,geometry
0,The Battery-Governors Island-Ellis Island-Libe...,MN0191,0,0,0,0,0,0,0,0,...,Manhattan,061,The Battery-Governors Island-Ellis Island-Libe...,Btry_GvIsl,9,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),48948.709558,1.199131e+07,"MULTIPOLYGON (((981219.056 188655.316, 980940...."
1,The Battery-Governors Island-Ellis Island-Libe...,MN0191,0,0,0,0,0,0,0,0,...,Manhattan,061,The Battery-Governors Island-Ellis Island-Libe...,Btry_GvIsl,9,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),48948.709558,1.199131e+07,"MULTIPOLYGON (((981219.056 188655.316, 980940...."
2,The Battery-Governors Island-Ellis Island-Libe...,MN0191,0,0,0,0,0,0,0,0,...,Manhattan,061,The Battery-Governors Island-Ellis Island-Libe...,Btry_GvIsl,9,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),48948.709558,1.199131e+07,"MULTIPOLYGON (((981219.056 188655.316, 980940...."
3,Chinatown-Two Bridges,MN0301,2750,357,108,14,97,102,251,54,...,Manhattan,061,Chinatown-Two Bridges,Chntwn,0,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),16464.399253,1.154257e+07,"POLYGON ((988548.218 197770.375, 987978.808 19..."
4,Chinatown-Two Bridges,MN0301,9838,1182,315,213,617,259,1012,209,...,Manhattan,061,Chinatown-Two Bridges,Chntwn,0,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),16464.399253,1.154257e+07,"POLYGON ((988548.218 197770.375, 987978.808 19..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2029,Brooklyn Navy Yard,BK0261,283,15,6,5,30,18,115,45,...,Brooklyn,047,Brooklyn Navy Yard,BkNvyYrd,6,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,39387.632688,1.010606e+07,"MULTIPOLYGON (((990092.009 196467.097, 990091...."
2030,Highbridge Park,MN1291,0,0,0,0,0,0,0,0,...,Manhattan,061,Highbridge Park,HghbrdgPk,9,MN12,MN12 Washington Heights-Inwood (CD 12 Equivalent),27245.589265,7.752364e+06,"POLYGON ((1005732.070 251035.202, 1005745.488 ..."
2031,Alley Pond Park,QN1191,39,0,0,0,8,0,0,7,...,Queens,081,Alley Pond Park,AllyPndPk,9,QN11,QN11 Auburndale-Bayside-Douglaston (CD 11 Appr...,48184.402299,2.613240e+07,"POLYGON ((1058029.919 210029.636, 1058015.185 ..."
2032,Cunningham Park,QN0891,0,0,0,0,0,0,0,0,...,Queens,081,Cunningham Park,CnnghmPk,9,QN08,QN08 Fresh Meadows-Hillcrest-Briarwood (CD 8 A...,28158.210429,2.130489e+07,"POLYGON ((1051662.790 203982.922, 1051635.825 ..."
2033,Prospect Park,BK5591,0,0,0,0,0,0,0,0,...,Brooklyn,047,Prospect Park,PrspctPk,9,BK55,BK55 Prospect Park (JIA 55 Approximation),24199.068737,2.732422e+07,"POLYGON ((994632.697 183968.715, 994641.086 18..."

In [67]:
nei.columns

Index(['NTAName_x', 'NTA2020', 'Total Population', 'Less than 9th grade',
       '9th to 12th grade, no diploma', 'High school diploma', 'Some college',
       'Associate degree', 'Bachelor degree', 'Graduate degree',
       'High school graduate, or higher', 'Bachelor degree, or higher',
       'BoroCode', 'BoroName', 'CountyFIPS', 'NTAName_y', 'NTAAbbrev',
       'NTAType', 'CDTA2020', 'CDTAName', 'Shape_Leng', 'Shape_Area',
       'geometry'],
      dtype='object')

In [68]:
M = nei.groupby('NTAName_x')['Total Population', 'Less than 9th grade',
       '9th to 12th grade, no diploma', 'High school diploma', 'Some college',
       'Associate degree', 'Bachelor degree', 'Graduate degree',
       'High school graduate, or higher', 'Bachelor degree, or higher'].sum().reset_index()

In [69]:
M

,NTAName_x,Total Population,Less than 9th grade,"9th to 12th grade, no diploma",High school diploma,Some college,Associate degree,Bachelor degree,Graduate degree,"High school graduate, or higher","Bachelor degree, or higher"
0,Allerton,29883,4695,1238,936,2427,1531,2351,1175,207,86
1,Alley Pond Park,39,0,0,0,8,0,0,7,0,0
2,Annadale-Huguenot-Prince's Bay-Woodrow,35230,6597,834,1434,3208,1648,5464,2813,754,280
3,Arden Heights-Rossville,5547,1322,125,168,410,194,662,390,44,44
4,Astoria (Central),46478,6005,625,714,2334,2148,14665,6058,1322,792
...,...,...,...,...,...,...,...,...,...,...,...
237,Williamsbridge-Olinville,57664,9593,2012,1685,5315,2907,4928,1976,232,148
238,Williamsburg,57774,4814,1143,1238,3248,1323,17162,7176,1916,521
239,Windsor Terrace-South Slope,14065,748,111,170,760,433,3441,3007,729,212
240,Woodhaven,40462,6709,1093,1068,3088,2280,5088,1411,341,114
241,Woodside,43000,10511,729,996,2501,2345,6889,2305,411,149

In [70]:
cols_to_convert = ['Less than 9th grade', '9th to 12th grade, no diploma', 
                   'High school diploma', 'Some college', 'Associate degree', 
                   'Bachelor degree', 'Graduate degree', 
                   'High school graduate, or higher', 'Bachelor degree, or higher']

for col in cols_to_convert:
    M[col] = M[col]/df['Total Population']*100

In [71]:
M

,NTAName_x,Total Population,Less than 9th grade,"9th to 12th grade, no diploma",High school diploma,Some college,Associate degree,Bachelor degree,Graduate degree,"High school graduate, or higher","Bachelor degree, or higher"
0,Allerton,29883,209.785523,55.317248,41.823056,108.445040,68.409294,105.049151,52.502234,9.249330,3.842717
1,Alley Pond Park,39,0.000000,0.000000,0.000000,0.451722,0.000000,0.000000,0.395257,0.000000,0.000000
2,Annadale-Huguenot-Prince's Bay-Woodrow,35230,494.157303,62.471910,107.415730,240.299625,123.445693,409.288390,210.711610,56.479401,20.973783
3,Arden Heights-Rossville,5547,36.519337,3.453039,4.640884,11.325967,5.359116,18.287293,10.773481,1.215470,1.215470
4,Astoria (Central),46478,87.651438,9.122756,10.421836,34.068019,31.353087,214.056342,88.425047,19.296453,11.560356
...,...,...,...,...,...,...,...,...,...,...,...
237,Williamsbridge-Olinville,57664,96.781679,20.298628,16.999596,53.621872,29.328087,49.717514,19.935432,2.340597,1.493140
238,Williamsburg,57774,56.641958,13.448641,14.566420,38.216261,15.566537,201.929639,84.433463,22.543829,6.130133
239,Windsor Terrace-South Slope,14065,12.206266,1.811358,2.774151,12.402089,7.065927,56.152089,49.069843,11.896214,3.459530
240,Woodhaven,40462,270.961228,44.143780,43.134087,124.717286,92.084006,205.492730,56.987076,13.772213,4.604200
241,Woodside,43000,536.002040,37.174911,50.790413,127.536971,119.581846,351.300357,117.542070,20.958695,7.598164

In [72]:
DF = pd.merge(merge, M, on='NTAName_x')

In [73]:
DF

,NTAName_x,Total Population_x,Below Poverty Line %,Total Population_y,Less than 9th grade,"9th to 12th grade, no diploma",High school diploma,Some college,Associate degree,Bachelor degree,Graduate degree,"High school graduate, or higher","Bachelor degree, or higher"
0,Allerton,36057,24.602712,29883,209.785523,55.317248,41.823056,108.445040,68.409294,105.049151,52.502234,9.249330,3.842717
1,Alley Pond Park,42,7.142857,39,0.000000,0.000000,0.000000,0.451722,0.000000,0.000000,0.395257,0.000000,0.000000
2,Annadale-Huguenot-Prince's Bay-Woodrow,44139,5.965246,35230,494.157303,62.471910,107.415730,240.299625,123.445693,409.288390,210.711610,56.479401,20.973783
3,Arden Heights-Rossville,31583,4.344109,5547,36.519337,3.453039,4.640884,11.325967,5.359116,18.287293,10.773481,1.215470,1.215470
4,Astoria (Central),47297,10.717382,46478,87.651438,9.122756,10.421836,34.068019,31.353087,214.056342,88.425047,19.296453,11.560356
...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,Williamsbridge-Olinville,61710,21.040350,57664,96.781679,20.298628,16.999596,53.621872,29.328087,49.717514,19.935432,2.340597,1.493140
203,Williamsburg,63211,15.759915,57774,56.641958,13.448641,14.566420,38.216261,15.566537,201.929639,84.433463,22.543829,6.130133
204,Windsor Terrace-South Slope,26973,7.881956,14065,12.206266,1.811358,2.774151,12.402089,7.065927,56.152089,49.069843,11.896214,3.459530
205,Woodhaven,41906,9.869708,40462,270.961228,44.143780,43.134087,124.717286,92.084006,205.492730,56.987076,13.772213,4.604200
206,Woodside,48421,7.275769,43000,536.002040,37.174911,50.790413,127.536971,119.581846,351.300357,117.542070,20.958695,7.598164

In [74]:
#DF.to_csv('pov&ea.csv', index=False)